/* FRONT PAGE */
.homepage-container{
    background-color: #1e1e1e;  
    .homepage-container-wrapper{
        position: relative;
        margin: auto;
       
        .video-container{
           background-image: url("/imagenes/otv_003.png"); 
           background-repeat:no-repeat ;
           background-size: cover; 
           position: relative;         
           padding-bottom: 100px;
           display: flex;
           align-items: center;
           justify-content: center;
           background-color: #1e1e1e; 
           .video-container-wrapper{
                width: 95%;
                max-width: var(--sm-container);
                margin: auto;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(6, auto);
                gap: 30px;
                align-content: space-around;
                align-items: end;
                .body-wrapper{
                    z-index: 3;
                    align-items: start;
                    margin: 0;
                    grid-column-start: 1;
                    grid-column-end: -1;
                    grid-row-start:1 ;
                    grid-row-end:3 ;
                    .big-title{ 
                        
                        z-index: 3;
                        h2{
                            font-size: 60px;
                            font-weight: 900;
                            color: white;
                            margin-bottom: 10px;
                            font-family: 'Sofia Sans Extra Condensed', sans-serif;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.67);
                        }
                        p{
                            font-size: 23px;
                            color: white;
                        }
                        .button{
                            background-color: #00000000;
                            color: white;
                            padding: 5px;                           
                            border: 2px solid white;
                            width: 20%;
                            text-align: center;
                            margin-top: 20px;                        
                            font-size: 15px !important;
                            width: 90px; 
                            white-space: nowrap;                                                
                        }
                    }
                }
            } 
            .overlay{
                /* background: linear-gradient(0.96turn, #1e1e1e00 20%, #1e1e1e 70%); */
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index:2 ;
                background-image: linear-gradient(to bottom, 
                /* Capa 1: Rojo 20% */
                #1e1e1e 0%, #1e1e1e90 50%,
                /* Capa 2: Verde 20% a 80% */
                #1e1e1e90 50%, #1e1e1eda 70%,
                /* Capa 3: Azul desde 80% hasta el final */
                #1e1e1eda 70%, #1e1e1e 100%);
            }         
        }
        .tendencias-container{
            margin-bottom: 100px;
            background-color: #1e1e1e;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: grid;
            place-content: center;
            margin: 100px 0px;
            .tendencias{
                max-width: var(--sm-container); 
                margin: auto;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(6, auto);
                gap: 30px;
                align-content: space-around;
                align-items: end;
                width: 95%;
                span{
                    display: flex;
                    color: white;
                    text-transform: uppercase;
                }
                .body-wrapper{
                    grid-column:1/-1 ;
                    grid-row: 1/2;
                    margin: 0;
                    z-index: 3;
                    margin-bottom: -80px;
                    max-width: var(--md-container);
                    position: relative;
                   
                    h2{
                        font-size: 80px;
                        font-weight: 900;
                        color: var(--secondary-color);
                        line-height: 60px;
                        font-family: 'Sofia Sans Extra Condensed', sans-serif;
                    }
                    p{
                        font-size: 150px;
                        color: white;
                        text-transform: uppercase;
                        font-weight: 900;
                        font-family: 'Sofia Sans Extra Condensed', sans-serif;
                        line-height: 83px;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.67);
                    }
                }
                .four-square{
                    height: 100%;
                    grid-column: 1/7;
                    grid-row: 2/-1;
                    border-radius: 5px 5px 0px 0px;
                    overflow: hidden;
                    .square-items{
                        position: relative;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        .title-square{        
                            padding: 10px;
                            background-color: #000000;
                            font-family: 'Sofia Sans Extra Condensed', sans-serif;
                            font-size: 40px;
                            line-height: 45px;
                            text-transform: uppercase;
                            h3{
                                color: white;
                            }
                        }
                        .imagen-square{
                            height: 100%;
                            position: relative;
                            .overlay{
                                background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(30 30 30 / 62%) 50%, rgb(30 30 30 / 61%) 50%, rgba(30, 30, 30, 0.8) 70%, rgba(30, 30, 30, 0.8) 70%, #000000 100%);
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                            }
                            
                            img{
                                
                                height: 100%;
                                object-fit: cover;
                            }
                         }
                       
                    } 
                }
                //PORTADA NOTICIAS
                .tendencias-wrapper{
                    grid-column-start: 7;
                    grid-column-end:-1;
                    grid-row-start: 2;
                    grid-row-end: -1;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 15px;
                    place-self: start;
                    z-index: 3;
                    counter-reset: counter;
                    .category-lmt{
                        padding-left: 25px;
                        color: white;
                        text-transform: uppercase;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    ol{
                        counter-reset: seleccion;
                        padding-left: 20px;
                        li:last-of-type{
                            border-bottom: 0px solid #353535;
                        }
                        .clase-marker {
                            border-bottom: 1px solid #353535;
                            position: relative;
                            counter-increment: counter;
                            
                            article{
                                padding: 0px 0px;
                                display: flex;
                            }
                            article{
                                padding: 20px 0px;
                                span{
                                    padding-top: 7px;
                                }
                                .tendencias-imagen{
                                    flex-basis: 30%;
                                    position: relative;
                                    max-height: 100px;
                                    border-radius: 5px;
                                    overflow: hidden;
                                    .play{
                                        color: white;
                                        background-color: var(--secondary-color);
                                        padding: 5px;
                                    }
                                    span{
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        background-color: black;
                                        font-size: 10px;
                                        a{
                                            color: white;
                                            font-size: 10px;
                                        } 
                                    }
                                }
                                .tendencias-card{
                                    flex-basis: 70%;
                                    padding: 8px;
                                    h2{
                                        font-size: var(--md-title);
                                        color: white;
                                        font-weight: 400;
                                    }
                                }
                                
                                
                               
                            }
                            
                        }
                        .clase-marker::before{
                            content: counter(counter);
                            position: absolute;
                            top: 31px;
                            left: -20px;
                            width:20px;
                            height:20px;
                            background-color: var(--secondary-color);
                            border-radius: 100%;
                            display: grid;
                            place-content: center;
                            font-size: 15px;
                            text-align: center;
                            color: white;
                        }                  
                    }
                    
                    .icons-post{
                        display: flex;
                        align-items: end;
                        gap: 10px;
                        color: white;
                        cursor: pointer;  
                        .icon-post-comment{
                            a {
                                font-size: 14px;
                                color: #8c8c8c;
                                display: flex;
                                gap: 2px;
                            }
                        } 
                        .date{
                            border-right: 1px solid #565656;
                            padding-right: 10px;
                            font-size: inherit;
                        }
                    }           
                }

            }
        }
        //NOTICIAS TIMELINE
        .noticias-oromar{
            padding-bottom:100px ;
            background-image: url('');
            background-repeat:no-repeat ;
            background-size: cover;
            display: grid;
            place-content: center;
            background-color: #1e1e1e; 
            .noticias-wrapper{
                max-width: var(--sm-container);
                margin: auto;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(6, auto);
                gap: 80px;
                justify-content: end;
                width: 95%;
                .button{
                background-color: #00000000;
                color: white;
                padding: 10px;
                font-size: 15px;
                border: 2px solid white;              
                text-align: center;
                margin-top: 20px;
                }
                .body-wrapper{
                grid-column-start:1 ;
                grid-column-end:-1 ;
                grid-row: 1/2;
                margin: 0;
                }
                i{
                    color: #8c8c8c;
                }
                .horarios {
                    background-color: rgb(69, 69, 69);
                    padding: 15px;
                    grid-column: 7/-1;
                    grid-row: 2/3;
                    height: 100%;
                    color: white;
                    border-radius: 15px;
                    position: sticky;
                    top: 100px;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;
                    .id{
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 80px;
                        padding: 10px;
                    }
                    .horarios-wrapper {
                        display: flex;
                        flex-direction: column;
                        padding-left: 20px;
                        width: 100%;
                        .row-header{
                            .active-program-fp {
                                border: none;
                                border-left: 2px solid white;
                                padding-left: 10px;
                                margin-bottom: 10px;
                            }
                            .featured-program-fp {
                                position: relative;
                                width: 80%;
                                height: fit-content;
                                margin-left: -25px;
                                img {
                                    border-radius: 5px;
                                    display: block;
                                }
                                progress{
                                    outline: none;
                                    width: 98%;
                                    margin: auto;
                                    height: 5px;
                                    appearance: none;
                                    background-color: white;
                                    position: absolute;
                                    bottom: 1px;
                                    border-radius: 10px;
                                    border: .1px solid white;
                                    left: 1%;
                                }
                                progress::-webkit-progress-bar {
                                    background-color: #eee; /* Color de fondo para Chrome, Safari y Opera */
                                    border-radius: 10px; /* Asegúrate de usar el mismo valor de border-radius */
                                }
                                
                                progress::-webkit-progress-value {
                                    background-color: var(--secondary-color); /* Color de la parte de progreso para Chrome, Safari y Opera */
                                    border-radius: 10px; /* Ajusta para bordes redondeados en la parte de progreso */
                                }
                                
                                progress::-moz-progress-bar {
                                    background-color: var(--secondary-color); /* Color de la parte de progreso para Firefox */
                                    border-radius: 10px; /* Ajusta para bordes redondeados en la parte de progreso */
                                }
                                ::-webkit-progress-value{
                                    background-color: var(--secondary-color);
                                }
                                ::-moz-progress-value{
                                    background-color: var(--secondary-color)
                                }
                                ::-webkit-progress-bar{
                                    background-color: white;
                                }
                                ::-moz-progress-bar{
                                    background-color: white;
                                }
                            }
                        }
                        .timeline{
                            h4{
                                color: #a7a7a7;
                            }
                        }
                        .program-info{
                            padding-top: 10px;
                            font-size: 20px!important;
                            text-transform: uppercase;

                            p{
                                font-size: 40px;
                                color: var(--oromar-color);
                                font-weight: 900;
                                font-family: 'Sofia Sans Extra Condensed', sans-serif;
                                line-height: .9;
                            }
                            #hora {
                                color: white;
                                font-size: 20px;
                                font-family: 'Sofia Sans Extra Condensed', sans-serif;
                            }
                        }
                        .viendo-ahora {
                            p{
                                font-size: 10px;
                            }
                        }
                    }
                    .titulo-vertical-horarios{
                        color: rgb(53, 53, 53);
                        line-height: 1;
                        writing-mode: vertical-rl;
                        text-orientation: sideways;
                        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                        rotate: 180deg;
                        font-family: 'Sofia Sans Extra Condensed', sans-serif;
                        right: -8px;
                        font-size: 110px!important;
                        font-weight: 700;
                        bottom: -2px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        margin-right: -37px;
                        margin-bottom: -20px;
                    }
                }
                .noticias-list{
                    position: relative;
                    flex-basis: 50%;
                    display: flex;
                    grid-column-start:7 ;
                    grid-column-end:-1 ; 
                    grid-row:1/-1 ;
                    background-color: var(--secondary-color);
                    padding: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                }
                .noticias-list-lms{
                    grid-column-start:1 !important ;
                    grid-column-end:7 !important; 
                    grid-row:2/-1 !important;
                    background-color: #1e1e1e !important;
                    padding: 25px 0px!important;
                    border-radius: 0px !important;
                    overflow: hidden;
                    .noticias-list-flex-deportes{
                        padding: 0px !important;
                    }
                    .category-lmt{
                        margin-bottom: 10px;             
                        color: white;
                        text-transform: uppercase;
                        position: relative;
                        cursor: pointer;          
                        font-weight: 700;
                        p{
                            border-bottom: 1px solid var(--secondary-color);
                            display: inline-block; 
                            text-transform: uppercase;                
                        }
                    }
                    .noticias-list-flex{
                        background-color: #2e2e2e00;
                        border-radius: 10px;
                        position: relative;
                        padding-bottom: 15px;
                      
                        .noticias-card-fila-tendencias{
                            border-bottom: 1px solid rgb(55, 55, 55) !important;
                            .noticias-card-fila-tendencias:last-of-type{
                                border: none!important;
                              }
                            .noticias-card-fila-tendencias::before{
                                content:""!important;
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                border-radius: 100%;
                                background-color: rgb(255, 255, 255);
                                top: 20px !important;
                                left: -25px;
                                font-size: 12px;
                                display: grid;
                                place-content: center;
                                color: white;
                              }
                        }
                        .noticias-card-fila{
                            border-bottom: 1px solid rgb(55, 55, 55);
                            padding: 15px 0px;
                            display: flex;
                            gap: 5px;
                            position: relative;
                            h2{
                                color: white;
                               font-weight: 200;   
                               font-size: var(--md-title);
                            }
                            .noticias-card-fila:hover{
                                background-color: #2a2a2a;
                            }
                            .noticias-card-fila::before{
                                content:counter(counter);
                                counter-increment: counter;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                border-radius: 100%;
                                background-color: rgb(42, 42, 42);
                                top: 15px;
                                left: -25px;
                                font-size: 12px;
                                display: grid;
                                place-content: center;
                                color: white;
                            }
                            .noticias-card-fila:last-of-type{
                                border: none;
                            }
                            
                            .author-avatar{
                                .avatar{
                                    width: 40px;
                                    height: 40px;
                                }
                            } 
                            .news-card{
                                position: relative;
                                .pic{
                                    margin-top: 10px;
                                    border-radius: 5px;
                                    overflow: hidden;
                                }
                                .meta-post{
                                    display: flex;
                                    align-items: baseline;
                                    gap: 10px;
                                    color: rgb(141, 141, 141);
                                }
                            }
                            .share-like-tag{                      
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: baseline;   
                                    .soften{
                                        opacity: .3;
                                    }                    
                                .share-like{
                                    padding-top: 5px;
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    color: gray;
                                    cursor: pointer;
                                    .compartir{
                                        display: flex;
                                        align-items: baseline;
                                        gap: 10px;
                                        i {
                                            color: #8c8c8c;
                                        }
                                        .social-icons{  
                                            padding: 5px;
                                            background-color: #444444;
                                            gap: 10px;
                                            border-radius: 10px 0px 10px 0px;
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-around;
                                            align-items: center;
                                            opacity: 0;
                                            position: relative;
                                            z-index: 5;
                                            transform: translate(40%, 0%); 
                                            a{
                                                color: white;
                                                font-size: 15px;
                                            }  
                                            i {
                                                color: white!important;
                                            }
                                        }  
                                        .show-social{
                                            opacity: 1;
                                            transition: .3s;
                                            transform: translate(0%, 0%);
                                        }                            
                                    }
                                }
                                .tag{
                                    text-transform: uppercase;
                                    color: var(--oromar-color);
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        //DEPORTES OROMAR
        .noticias-oromar{
            padding-bottom:100px ;
            background-image: url('');
            background-repeat:no-repeat ;
            background-size: cover;
            display: grid;
            place-content: center;
            background-color: #1e1e1e; 
        }
        .deportes-oromar{
            background-color: #1e1e1e  !important;
            .deportes-wrapper{
                background-color: #1e1e1e00 !important;
                .ad-lmt{
                    margin-bottom: 80px;
                    width: 100%;
                    grid-column: 1/7;
                    position: sticky;
                    top: 100px;
                    text-align: center;
                    padding: 20px;
                    background-color: #2e2e2e;
                    background: repeating-linear-gradient(
                      45deg,
                      rgba(0, 0, 0, 0) 20px,
                      rgba(0, 0, 0, 0) 40px,
                      #222222 40px,
                      #222222 60px
                    );
                    .article-ad-container{
                        position: relative;
                        width: fit-content;
                        margin: auto;
                        .rotate {
                            color: #6c6c6c;
                            font-size: 0.8rem;
                            display: inline-flex;
                        }
                    }
                    
                }
                .noticias-main-post{
                    grid-column-start:3 ;
                    grid-column-end:7;
                    grid-row: 2/-1;
                    background-color: #2e2e2e00;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    img{
                        border-radius: 10px 10px 0px 0px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                      }
                    
                    h2{
                        line-height: 45px;
                        font-size: 50px;
                        font-weight: 900;
                        color: white;
                        padding: 10px;
                        z-index: 3;
                        font-family: 'Sofia Sans Extra Condensed', sans-serif;
                        text-transform: uppercase;
                        background-color: black;
                    }
                    a{
                        height: 100%;
                    }
                    .overlay-noticias-oromar{
                        
                        background-color:#1e1e1e72; 
                        width: 100%;
                       height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index:2 ;
                    }
                }
                .deportes-main-post{
                    grid-row: 3/-1;
                    display: flex;
                    flex-direction: column;
                }
                .noticias-list-lms{
                    margin-top: -81px;
                  
                    .noticias-card-fila-deportes::before{
                        content:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNvbG9yPSJibGFjayIgaGVpZ2h0PSIxMCIgd2lkdGg9IjcuNSIgdmlld0JveD0iMCAwIDM4NCA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyNCBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNNzMgMzljLTE0LjgtOS4xLTMzLjQtOS40LTQ4LjUtLjlTMCA2Mi42IDAgODBWNDMyYzAgMTcuNCA5LjQgMzMuNCAyNC41IDQxLjlzMzMuNyA4LjEgNDguNS0uOUwzNjEgMjk3YzE0LjMtOC43IDIzLTI0LjIgMjMtNDFzLTguNy0zMi4yLTIzLTQxTDczIDM5eiIvPjwvc3ZnPg==);
                        position: absolute;
                        width: 0px!important;
                        height: 0px!important;
                        border-radius: 100%;
                        background-color: rgb(255, 255, 255);
                        top: 20px !important;
                        left: -25px;
                        font-size: 12px;
                        display: grid;
                        place-content: center;
                        color: white;
                      }       
                    .noticias-card-fila-deportes:last-of-type{
                        border: none !important;
                    }
                }
                .noticias-list {
                    grid-column-start: 7;
                    grid-column-end: -1;
                    grid-row: 1/-1;
                    background-color: var(--secondary-color);
                    padding: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                    .noticias-card-fila-flex{
                        display: flex;
                        flex-direction: row !important;
                    }
                    .titulo-vertical{
                        color: rgb(53, 53, 53);
                        line-height: 1;
                        writing-mode: vertical-rl;
                        text-orientation: sideways;
                        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                        rotate: 180deg;
                        font-family: 'Sofia Sans Extra Condensed', sans-serif;
                        bottom: 0;
                        right: 0;
                        font-size: 80px;
                        font-weight: 700;
                        margin-right: -54px;
                        position: relative;
                        bottom: -34px;
                    }
                }
                .deportes-list{
                    background-color: rgb(69, 69, 69) !important;
                    position: sticky;
                    top: 100px;
                    grid-row: 1/2 !important;
                    .category-deportes{
                        color: rgb(255, 255, 255) !important;
                    }
                    .noticias-list-flex{
                        width: 80%;
                        .noticias-card-fila-deportes{
                            border-bottom: 1px solid #515151!important;  
                        }
                        .noticias-card-top{
                            font-family: 'Sofia Sans Extra Condensed', sans-serif;
                            font-size: 50px;
                            font-weight: 700; 
                            text-transform: uppercase;   
                            .last-interview{
                                margin: 10px 0px;
                            } 
                            .title{
                                border-left: 1px solid #ffffff;
                                padding-left: 20px;
                                margin: 10px 0px;
                                line-height: 35px;
                                color: white;
                                font-size: 40px;
                            }
                            .thumbnail{
                                margin-left:-20px;
                                width: 80%;
                            }
                            img{
                                border-radius: 5px;
                            }
                        }
                        
                        .noticias-card-fila {
                            position: relative;
                            list-style: none;
                            padding: 15px 10px;
                        }
                    }
                    .noticias-card-fila-deportes:last-of-type {
                        border: none !important;
                    }
                    .deportes-card-fila h2{
                        color: rgb(255, 255, 255) !important;
                        font-size: 16px;
                    }
                    .deportes-card-fila::before{
                        content:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNvbG9yPSJibGFjayIgaGVpZ2h0PSIxMCIgd2lkdGg9IjcuNSIgdmlld0JveD0iMCAwIDM4NCA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyNCBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNNzMgMzljLTE0LjgtOS4xLTMzLjQtOS40LTQ4LjUtLjlTMCA2Mi42IDAgODBWNDMyYzAgMTcuNCA5LjQgMzMuNCAyNC41IDQxLjlzMzMuNyA4LjEgNDguNS0uOUwzNjEgMjk3YzE0LjMtOC43IDIzLTI0LjIgMjMtNDFzLTguNy0zMi4yLTIzLTQxTDczIDM5eiIvPjwvc3ZnPg==);
                        position: absolute;
                        width: 0px !important;
                        height: 0px !important;
                        border-radius: 100%;
                        background-color: rgb(255, 255, 255)!important;
                        top: 25px !important;
                        left: -15px;
                        font-size: 12px;
                        display: grid;
                        place-content: center;
                        color: white;
                    }
                    .category-lmt {
                        p{
                            border: none;
                            color: var(--oromar-color);
                            text-transform: uppercase;
                        }
                    } 
                }
            }
        }
    }
}


 



.noticias-card-fila-deportes-dd{
    display: flex;
    flex-direction: row !important;
}
 
.noticias-list-flex{
    counter-reset: counter;
}


/* VIDA SANA */


.noticias-oromar{
    padding-bottom:100px ;
    background-image: url('');
    background-repeat:no-repeat ;
    background-size: cover;
    display: grid;
    place-content: center;
    background-color: #1e1e1e;
    .vida-sana-wrapper {
        width: 95%;
        max-width: var(--sm-container);
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 80px;
        justify-content: end;
        .date-vs p{ 
            color: white;

        }
        .noticias-main-post{
            grid-column-start:1 ;
            grid-column-end:7;
            grid-row: 2/-1;
            background-color: #2e2e2e00;
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            overflow: hidden;
            h2{
                line-height: 45px;
                font-size: 50px;
                font-weight: 900;
                color: white;
                padding: 10px;
                z-index: 3;
                font-family: 'Sofia Sans Extra Condensed', sans-serif;
                text-transform: uppercase;
                background-color: black;
            }
        }
        .noticias-list {
            grid-column-start: 7;
            grid-column-end: -1;
            grid-row: 2/-1;
            background-color: rgb(69, 69, 69);
            padding: 30px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            .noticias-list-inner{
                width: 75%;
            }
            .titulo-vertical {
                color: rgb(53, 53, 53);
                line-height: 1;
                writing-mode: vertical-rl;
                text-orientation: sideways;
                transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                rotate: 180deg;
                font-family: 'Sofia Sans Extra Condensed', sans-serif;;
                bottom: 0;
                right: 0;
                font-size: 80px;
                font-weight: 700;
                margin-right: -54px;
                position: relative;
                bottom: -34px;
            }
            .category-lmt{
                p{
                    color: var(--oromar-color);
                    text-transform: uppercase;
                }
            }
            .noticias-card-fila {
                border-bottom: 1px solid #515151;
                padding: 15px 0px;
                display: flex;
                gap: 5px;
            }
            .noticias-card-fila-vs {
                display: block;
                h2{
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                }
            }           
            .noticias-card-fila-vs:hover{
                background-color: #00000000!important;
            }
            
            
            .noticias-card-fila-hover:hover{
                background-color: #00000000 !important;
            }
            .noticias-card-fila-vs::before{
                content:"";
                position: absolute;
                width: 6px !important;
                height: 6px !important;
                border-radius: 100%;
                background-color: rgb(255, 255, 255);
                top: 22px;
                left: -15px;
                font-size: 12px;
                display: grid;
                place-content: center;
                color: white;
            }
            
        }
    }

}



//MEDIA QUERY
@media only screen and (max-width: 900px) {
    .homepage-container {
        background-color: #1e1e1e;
        padding-top: 40px;
        .homepage-container-wrapper {
            width: 100%;
            position: relative;
            margin: auto;
            .video-container{
                .video-container-wrapper{
                    .body-wrapper{
                        .big-title{
                            .big-title-meta{
                            display: none;
                            }
                            h2{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .tendencias-container{
                .tendencias {
                    display: block!important;
                    .body-wrapper{
                        margin-bottom: -20px;

                        h2{
                            font-size: 60px;
                            line-height: 60px;
                        }
                        p{
                            font-size: 110px;
                            line-height: 45px;
                        }
                    }
                    .four-square{
                        .square-items{
                            .title-square{
                                a{
                                    h3{
                                        font-size: 35px;
                                        line-height: 36px;
                                    }
                                }
                            }
                        }
                    }
                    .tendencias-wrapper {
                        grid-column: 1/-1;
                        margin-top: 20px;
                    }
                
                }
            }
            .noticias-oromar{
                h2{
                    font-size: 16px;
                }
                .noticias-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .noticias-main-post{
                        h2{
                            font-size: 35px;
                            line-height: 36px;
                        }
                    }
                    .horarios {
                        margin-bottom: 50px;
                        position: static;
                        .titulo-vertical-horarios {
                            display: none;
                          }
                    }
                   
                }
            }
            .deportes-oromar{
                .deportes-wrapper{
                    .ad-lmt{
                        position: relative;
                        margin-bottom: 100px;
                        padding-bottom: 100px;
                    }
                    .deportes-list{
                        grid-column-start: 7;
                        grid-column-end: 11;
                        grid-row: 2 / -1;
                        background-color: var(--secondary-color);
                        padding: 30px;
                        border-radius: 10px;
                        overflow: visible;
                        position: relative;
                        align-self: center;
                        gap: 0px;
                        top: 0px;
                        .noticias-list-flex{
                            width: initial;
                        }
                        .titulo-vertical{
                            display: none;
                        }
                    }
                }
            }
            
            .noticias-oromar{
                padding-top: 100px;
                .vida-sana-wrapper {
                    display: flex;
                    flex-direction: column;
                    .noticias-list{
                        .noticias-list-inner{
                            width: initial;
                        }
                        .titulo-vertical {
                            display: none;
                        }
                    }
                  }
            }
        }
    }

}








  @media only screen and (max-width: 500px) {
    .homepage-container{
        .noticias-top iframe {
        height: 200px;
        width: 100%;
        }
    
        .guardianes-slide img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        }
    
        .livestream iframe {
        height: 200px;
        }
    
        .homepage-container-wrapper {
        width: 100%;
        }
    }
  }  

.timeline-frontpage{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.featured-program-fp{
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: -25px;
}
.featured-program-fp img{
   border-radius: 0px;
}

.timeline .active-program-fp, 
.timeline .item-middle-fp, 
.timeline .item-final-fp{
   background-color: rgba(57, 57, 57, 0);
   width: 100%;
   min-width: 250px;
   padding: 10px;
   border-bottom: 1px solid #515151;
   border-radius: 0px;
}
.timeline-frontpage{
   margin-top: 20px;
}

.timeline-frontpage div:last-of-type{
   border: none;
}
.active-program-fp{
    border: none;
    border-left: 2px solid white;
    padding-left: 10px;
    margin-bottom: 10px;

}
.noticias-card-fila-column{
    flex-direction: column!important;
}
