.reportes{
    padding: 50px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; 
}
.reportes h1{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 40px;
}
.reportes form p{
    color: black;
    padding-bottom: 20px;
}
.reportes form input{
    width: 500px;
    height: 30px;
}
form textarea{
    width: 500px;
}
.reportes .wpcf7-submit{
    width: 100px;
    height: 30px;
}