.noticias-heading-title{
    font-size: var(--header-titles);
    font-family: 'Sofia Sans extra condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 800;     
    margin-bottom: 14px;
    display: inline;     
    padding-left: 15px;
    line-height: 1;
    
}
.noticias-heading-title:before{
    content: "";
    background-color: rgba(150, 0, 0);
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
}
.author p{
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--header-titles-font);
    font-weight: 700;
}
.author{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.body-noticias{
    .single-container{
        .single-main{
            .left-side-bar{
                .categoria{
                    font-size: 25px;
                    font-weight: 900;
                    color: black;
                }
            }
            
        }
    }
}   

