
.single-container {
    width: 90%;
    margin: auto;
    background-color: white;
    .single-main{
        max-width: 1250px;
        display: grid;
        grid-template-columns: 20% 50% 30%;
        padding: 50px 0px;
        gap: 20px; 
        margin: auto;
        .category-single{
            font-size: 25px;
            font-weight: 900;
        }
        .single-content{
            font-size: 20px; 
            .the-extract{
                margin: 20px 0px;
            }
            .single-card{
                max-height: fit-content;
                overflow: hidden;
                border-radius: 5px;
                img{
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    object-position: center top;
                    display: block;
                }
            }
            h2{
                font-size: 50px;
                line-height: 50px;
            }
            .the-content{
                margin-top: 70px;
                line-height: 35px;
            }
        }

        .left-side-bar{
            .post-categories{
                li {
                    font-size: 20px;
                    font-weight: 400; 
                    list-style: none;
                }
            }
        }
        .right-side-bar {
            padding: 0px;
        .most-popular{
            height: 40%;
            div{
                background-color: white;
                padding: 0px 15px;
                position: sticky;
                top: 150px;
                counter-reset: seleccion;
                border-radius: 5px;
            }
            li{
                position: relative;
                counter-increment: counter;
                display: flex;
                align-items: center;
                gap: 10px;
            }
            li::before{
                content: counter(counter);
                border-radius: 100%;
                font-size: 50px;
                color: var(--noticias-color);
                font-weight: 1000;
            }
        }
        }
        
    }
    .single-related{
        margin: auto;
        max-width: 1250px;
        .related-post{
            margin: auto;
            max-width: 1250px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin: 40px 0px;
            .related-card{
                height: 200px;
                padding-bottom: 5px;
            }
            h2{
                font-size: 20px;
            }
            img{
                width: 100%;
                display: block;
                object-fit: cover;
                object-position: center top;
                border-radius: 5px;
            }
        }
        .body-wrapper {
            max-width: var(--md-container);
            position: relative;
            .noticias-heading-title{
                font-size: var(--header-titles);
                font-family: 'Sofia Sans extra condensed', sans-serif;
                text-transform: uppercase;
                font-weight: 800;     
                margin-bottom: 14px;
                display: inline;     
                padding-left: 15px;
                line-height: 1;
                
            }
            .noticias-heading-title:before{
                content: "";
                background-color: red;
                width: 10px;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%; 
            }
        }
    }    
}


.body-single .homepage{
    max-width: var(--sm-container);
    background-color: white;
    max-width: var(--sm-container);
    padding-top: 50px;
    margin: auto;
    max-width: var(--md-container);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.avatar-div{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


.google{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #cecece00;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
}
.google img{
    width: 80px;
}


.date{
    color: #8c8c8c;
    margin-top: 3px;
    font-size: 13px;
}
.date-deportes{
    color:rgb(211, 211, 211)!important;
}
.the-date{
   
    display: flex;
    justify-content: center;
}

.author p{
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--header-titles-font);
    font-weight: 700;
}
.author{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.opacity-effect {
    opacity: 0.3;  /* Cambia el valor de opacity según tus necesidades */
    transition: opacity 0.5s ease;  /* Agrega una transición suave si lo deseas */
}


@media only screen and (max-width: 900px){
    .body-noticias {
        .single-container {
            width: 100%;
            margin: auto;
            .single-main {
                width: 90%;
                margin: auto;
                grid-template-columns: 1fr;
                display: block;
                .main-single{
                    .single{
                        .single-content{
                            h2{                 
                                font-size: 25px;
                                line-height: 30px;                               
                            }
                        }
                    }
                }
                .left-side-bar, .related-post {
                    padding: 0px;
                }
                
            }
            .single-related{
                width: 90%;
                margin: auto;
                .related-post{
                    display: block;
                    div{
                        padding-bottom: 20px;
                    }
                    .related-card{
                        padding-bottom: 5px;
                    }
                    
                }
            }
       }
    }
}